In [1]:
import pandas as pd
import numpy as np

In [2]:
fire=pd.read_csv("E:\\itsstudytym\\assignments\\SVM\\forestfires.csv")
fire.head()

  month  day  FFMC   DMC     DC  ISI  temp  RH  wind  rain size_category
0   mar  fri  86.2  26.2   94.3  5.1   8.2  51   6.7   0.0         small
1   oct  tue  90.6  35.4  669.1  6.7  18.0  33   0.9   0.0         small
2   oct  sat  90.6  43.7  686.9  6.7  14.6  33   1.3   0.0         small
3   mar  fri  91.7  33.3   77.5  9.0   8.3  97   4.0   0.2         small
4   mar  sun  89.3  51.3  102.2  9.6  11.4  99   1.8   0.0         small

In [5]:
fire.isnull().sum()

month            0
day              0
FFMC             0
DMC              0
DC               0
ISI              0
temp             0
RH               0
wind             0
rain             0
size_category    0
dtype: int64

In [3]:
fire['month'].unique()
fire['day'].unique()

array(['fri', 'tue', 'sat', 'sun', 'mon', 'wed', 'thu'], dtype=object)

In [6]:
month={
    'jan':1,
    'feb':2,
    'mar':3,
    'apr':4,
    'may':5,
    'jun':6,
    'jul':7,
    'aug':8,
    'sep':9,
    'oct':10,
    'nov':11,
    'dec':12,
}

day = {
    'mon':1,
    'tue':2,
    'wed':3,
    'thu':4,
    'fri':5,
    'sat':6,
    'sun':7,
}

In [7]:
fire['month']=fire['month'].map(month)
fire['day']=fire['day'].map(day)

In [8]:
fire.head()

   month  day  FFMC   DMC     DC  ISI  temp  RH  wind  rain size_category
0      3    5  86.2  26.2   94.3  5.1   8.2  51   6.7   0.0         small
1     10    2  90.6  35.4  669.1  6.7  18.0  33   0.9   0.0         small
2     10    6  90.6  43.7  686.9  6.7  14.6  33   1.3   0.0         small
3      3    5  91.7  33.3   77.5  9.0   8.3  97   4.0   0.2         small
4      3    7  89.3  51.3  102.2  9.6  11.4  99   1.8   0.0         small

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
X=fire.iloc[:,:-1]
y=fire['size_category']

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=2)

In [12]:
from sklearn.svm import SVC

In [13]:
m1=SVC()

In [14]:
m1.fit(X_train,y_train)
m1.score(X_test,y_test)

0.7788461538461539

## Regularization

In [15]:
m_c=SVC(C=15)

In [16]:
m_c.fit(X_train,y_train)
m_c.score(X_test,y_test)

0.7788461538461539

## Gamma

In [17]:
m_g=SVC(gamma=10)

In [18]:
m_g.fit(X_train,y_train)
m_g.score(X_test,y_test)

0.7884615384615384

## Kernel

In [19]:
m_k=SVC(kernel='linear')

In [20]:
m_k.fit(X_train,y_train)
m_k.score(X_test,y_test)

0.7788461538461539

## Final

In [21]:
m_f=SVC(C=10,gamma=12,kernel='linear')

In [22]:
m_f.fit(X_train,y_train)
m_f.score(X_test,y_test)

0.7788461538461539