In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.datasets import load_iris
%matplotlib inline

C:\Users\sonih\anaconda3\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)

In [2]:
df=load_iris()
dir(df)

['DESCR', 'data', 'feature_names', 'filename', 'target', 'target_names']

In [4]:
iris=pd.DataFrame(data=df.data,columns=df.feature_names)
iris.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [6]:
iris['type']=df.target

In [9]:
iris['flower_type']=iris.type.apply(lambda x: df.target_names[x])
iris.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),type,flower_type
0,5.1,3.5,1.4,0.2,0,setosa
1,4.9,3.0,1.4,0.2,0,setosa
2,4.7,3.2,1.3,0.2,0,setosa
3,4.6,3.1,1.5,0.2,0,setosa
4,5.0,3.6,1.4,0.2,0,setosa

In [12]:
from sklearn.model_selection import train_test_split

In [14]:
iris.drop('type',axis=1)
X=iris.iloc[:,:-1]
y=iris['flower_type']

In [15]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=10)

In [16]:
from sklearn.svm import SVC

In [17]:
m1=SVC()

In [19]:
m1.fit(X_train,y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [20]:
m1.score(X_test,y_test)

1.0

## Regularization

In [21]:
m_c=SVC(C=10)

In [23]:
m_c.fit(X_train,y_train)
m_c.score(X_test,y_test)

1.0

## Gamma

In [24]:
m_g=SVC(gamma=15)

In [25]:
m_g.fit(X_train,y_train)
m_g.score(X_test,y_test)

0.9

## Kernel

In [26]:
m_k=SVC(kernel='linear')

In [27]:
m_k.fit(X_train,y_train)
m_k.score(X_test,y_test)

1.0

## Final

In [28]:
m_f=SVC(C=10,gamma=15,kernel='linear')

In [29]:
m_f.fit(X_train,y_train)
m_f.score(X_test,y_test)

1.0